{{> layout.hbs}}
{{#partial "styles"}}

    <link rel='stylesheet' href='/css/squadForm.css'>

{{/partial}}



<div class="card">
    <h5 class="card-header">Create a squad</h5>
    <div class="card-body">
        <form action="/squad" method="post">
            <div class="form-group">
                <label for="SquadName">Name</label>
                <input class="form-control " type="text" name="squadName" id="squadName" placeholder="Squad's name" required>
            </div>
            <div class="form-group">
                <label for="cause">Cause</label>
                <input class="form-control" type="text" name="cause" id="cause" placeholder="Squad's cause" required>
            </div>
            <div class="form-group">
                <label for="size">Squad size</label>
                <input class="form-control" type="number" name="size" id="size" placeholder="Squad's size" required>
            </div>

            <div class="form-group">
                <label for="select1">Squad</label>
                <select class="form-control" id="exampleFormControlSelect1">
            {{#if heroes}}
                 {{#each heroes}}
                  {{#if squadMember}}
                      <p>{{name}}</p>
                  {{else}}
                          <p>{{name}}</p>

                  {{/if}}
                 {{/each}}
                </select>
                 </div>
                 {{/if}}
            <button type="submit" class="btn btn-dark">Submit</button>

<!--            <div class="form-group">-->
<!--                <label for="squadHeroes">Available Heroes</label>-->

<!--                {{#if heroes}}-->
<!--                    {{#each heroes}}-->
<!--                        {{#if squadMember}}-->

<!--                            <div class="form-check">-->
<!--                                <input type="checkbox" class="form-check-input" name="squadHeroes" id={{id}} value={{id}}>-->
<!--                                <label class="form-check-label" for="squadHeroes">-->
<!--                                    {{name}}-->
<!--                                </label>-->
<!--                            </div>-->

<!--                        {{else}}-->

<!--                            <div class="form-check">-->
<!--                                <input type="checkbox" class="form-check-input" name="squadHeroes" id={{id}} value={{id}}>-->
<!--                                <label class="form-check-label" for="squadHeroes">-->
<!--                                    {{name}}-->
<!--                                </label>-->
<!--                            </div>-->

<!--                        {{/if}}-->

<!--                    {{/each}}-->
<!--                {{else}}-->

                    <p>Oops, it appears there aren't enough heroes. Create more heroes <a href="/heroes/new" style="text-decoration: none;">here</a>.</p>

<!--                {{/if}}
            </div>-->
            <br>
            <button type="submit" class="btn btn-dark">Submit</button>
        </form>
    </div>
</div>






