{{> layout.hbs}}

<div class="card">
    <div class="card-body">
        <h2>Your squad</h2>


        {{#if squad}}

            {{#each squad}}
                <ul >
                    <li><span>Squad Name: </span>{{squadName}}</li>
                    <li><span>Cause: </span>{{cause}}</li>
                    <li><span>Squad size: </span>{{size}}</li>
                </ul>
                <a href="/squad/{{id}}"><button class="btn-dark" id="heroView">View Squad Heroes</button></a>

            {{/each}}

        {{else}}
            <p id="noSquads">No Squad!</p>
        {{/if}}

    </div>
</div>
{{#if squad}}
    <a href="/squad/delete"><button class="btn-dark" id="delete">Delete All Squads</button></a>
{{/if}}














